:root{
    --backgroundImage:linear-gradient(45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(224deg 100% 25%) 11%,
    hsl(217deg 100% 29%) 22%,
    hsl(211deg 100% 32%) 33%,
    hsl(205deg 100% 35%) 44%,
    hsl(200deg 100% 37%) 56%,
    hsl(196deg 100% 39%) 67%,
    hsl(191deg 100% 41%) 78%,
    hsl(189deg 67% 55%) 89%,
    hsl(186deg 66% 66%) 100%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:poppins;
    
}
body{
    background-image:var(--backgroundImage);
    height: 100vh;
    width:100%;
}

nav{
    /* background:#3f3d3d; */
    display: flex;
    justify-content:start;
    user-select: none;
    height: 80px;
    padding:4px 30px;
}

ul{
    list-style: none;
}
ul li{
    cursor: pointer
}

.logo{
    color: azure;
    font-weight: bolder;
    font-size:36px;
    padding:4px 10px;
   
   
}
.cursor{
    width:10px;
    height: 10px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    transition:0.2s cubic-bezier(.36,.49,.55,.48);
    z-index:1;
    visibility: hidden;

}

.form-container{
    color: #0f0f0f;
    margin: 80px;
    width:280px;
    height:400px;
    background: #fff;
    position: relative;
    border-radius:8px;
    /* box-shadow: 3px 3px 6px #52567e; */
    box-shadow:
    0 1px 1px rgba(52, 55, 95, 0.075),
    0 2px 2px rgba(52, 55, 95, 0.075),
    0 4px 4px rgba(52, 55, 95, 0.075),
    0 8px 8px rgba(52, 55, 95, 0.075),
    0 16px 16px rgba(52, 55, 95, 0.075);
}
.form-container .inputblock{
    position: relative;
    display: flex;
    flex-direction: column;
    padding:12px; 
    border-top: 1px solid rgb(165, 162, 162);
    border-bottom: 1px solid rgb(165, 162, 162);
}
.form-container h3{
    padding: 10px 0;
    text-align: center;
    font-size:22px;
    font-weight: 400;
   
}

.form-container .inputblock label{
    margin:14px 0;
    position: absolute;
    top:0;
    cursor:text;
    text-transform:capitalize;
    color:rgb(120, 120, 131);
    font-size:16px;
    transition:0.3s ease-in-out;
    
    /* background-color:chocolate; */
}
.inputblock input[type='text']{
    outline: none;
    padding:4px 0;
    border:0;  
    color:#3f3d3d;
    text-transform: capitalize;
    /* border: 1px solid crimson; */
}

textarea{
    outline: none;
    padding:4px 0px 30px 0;
    border:0;  
    resize: none;
    color:#3f3d3d;
    text-transform: capitalize;
}

.inputblock .title:focus +.mylabel,
.inputblock .title:not(:placeholder-shown) ~.mylabel,

.inputblock textarea:focus +.mylabel,
.inputblock textarea:not(:placeholder-shown) +.mylabel
{
   margin:-4px 0;
   font-size:12px;
   color: #627899;
   padding-top:4px;
}

#ib2{
    border-top: 0;    
    
}
#ib3{
    bottom: 0;
    width: 100%;
    position: absolute;
    border-top:0;
    border-bottom: 0;

    
    
}
#ib0{
    border-top:0;
    border-bottom: 0;
    margin-bottom:20px;
}
.loadblock
{
    display: none;
    width: 100%;
    transition:0.3s linear;
}
.videoblock{
    width: 100%;
    display: none;
    
}

.videoblock .linklabel{
    margin:24px 0;
    
}
#loaderwrapper,.videowrapper,.text{
    width: 100%;
    padding: 15px 0;
    border:0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    
}
.loader {
    border: 16px solid #cfcfcf;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: spin 2s linear infinite; 
    animation: spin 2s linear infinite;

  }
  
  .perc{
      margin:10px 0;
      font-size:24px;
  }

  .text__title{
      font-size:18px;
      color: #1b1b1b;
      font-weight: 600;
  }
  .text__stitle{
    font-size: 14px;
    color: #313030;
    font-weight: 400;
}
.linklabel{
    padding:10px 6px;

}
.link
{
    border-radius:4px;
    padding:10px 0;
    text-align: center;
    border: 2px solid #aca9a9;
    font-size:10px;
    font-family: monospace;
    color:#313030;
    overflow-x:hidden;
}
.linkbutton{
    outline: none;
    border: 0;
    bottom: 0;
    background:#4563e6;
    padding:8px 0;
    border-radius:4px;
    color: #fff;
    font-size:18px;
    font-weight:600;
    transition: all 0.3s ease;
}
.dislinkbutton{
    outline: none;
    border: 0;
    font-weight:600;
    bottom: 0;
    background:silver;
    padding:8px 0;
    border-radius:4px;
    color:#fff;

    font-size:18px;
    transition: all 0.3s ease;
}
#linkbutton:hover{
    box-shadow: 2px 2px 4px rgba(93, 100, 165, 0.933);
}

#filepicker::-webkit-file-upload-button

 {
    -webkit-appearance: none;
    visibility: hidden;
  }
  .file::-ms-browse,
  .file::file-selector-button
    {
        visibility: hidden;
    }


  
  .file::before {
    text-align: center;
    content: 'Select some file';
    display:block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px dashed rgb(78, 114, 121);
    border-radius: 3px;
    padding:14px 0;
    outline: none;
    color: #5486cc;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    text-decoration: underline;
  }
  .file:hover::before{
      text-shadow: 2px 2px 4px skyblue;
  }
  @media only screen and (max-width: 600px) {

    nav{

        padding: 0;
        margin: 0;
       display: flex;
    }
  }
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  video{
      width:200px;
      width: 200px;
  }

  /* css for download page */

  .download{
      position: absolute;
      width: 100%;
      bottom:0;
      padding:12px; 
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .download a{
    background:#4563e6;
    color: #fff;
    text-align: center;
    width: 100%;
    padding:8px 0;
    border-radius:4px;
    font-size:20px;
    font-weight:700px;

    text-decoration: none;
  }
  svg{
      width:100%;
      height:150px;
      fill:#3498db;
      
 }

 .filename{
     margin-top:60px;
     color:#313030;
 }
